*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

:root {
    --primary-color: #13183F;
    --primary-color-hover-state: #666CA3;
    --secondary-color: #F74780;
    --secondary-color-hover-state: #FFA7C3;
    --primary-gradient-color: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
    --primary-gradient-color-hover-state: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    --secondary-gradient-color: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
    --secondary-gradient-color-hover-state: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    --primary-text-color: #83869A;
    --secondary-text-color: #F74780;
    --white-color: #FFFFFF;
    --secondary-background-color: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
    ;
    --primary-font-family: 'Plus Jakarta Sans', sans-serif;
    --extra-bold-font: 800;
    --bold-font: 700;
    --medium-font: 500;
    --heading-XL-font-size: 3.5rem;
    --heading-XL-line-height: 1.25;
    --heading-L-font-size: 2.5rem;
    --heading-L-line-height: 1.275;
    --heading-M-font-size: 2rem;
    --heading-M-line-height: 1.25;
    --heading-S-font-size: 1.5rem;
    --heading-S-line-height: 1.667;
    --body-M-font-size: 1.125rem;
    --body-M-line-height: 1.556;
    --body-S-font-size: 1rem;
    --body-S-line-height: 1.75;
    --logo-font-size: 1.75rem;
    --logo-line-height: 1.25;
    --header-button-border-radius: 1.75rem;
    --hero-button-border-radius: 1.9688rem;
    --featured-course-border-radius: 0.625rem;
    --featured-course-box-shadow: box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    --featured-heading-font-size: 1.25rem;
    --featured-heading-line-height: 1.25;
    --featured-section-background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
}

/* Mobile First Design */

/*Universaly applied*/
body {
    background-color: var(--white-colorr);
    width: 100vw;
    font-family: var(--primary-font-family);
}

/*Header section*/
header {
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem 2.375rem 1rem;
}

.logo-header {
    font-size: var(--logo-font-size);
    line-height: var(--logo-line-height);
    font-weight: var(--extra-bold-font);
    color: var(--primary-color);
}

.header-btn a {
    position: relative;
    z-index: 1000;
    padding: 0.5625rem 1.5rem 0.6875rem 1.5rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: var(--bold-font);
    font-size: var(--body-S-font-size);
    line-height: var(--body-S-line-height);
    border-radius: var(--header-button-border-radius);
    cursor: pointer;
    text-decoration: none;
}

.header-btn a:hover {
    background-color: var(--primary-color-hover-state);
}

/*Hero Section*/
.hero-section {
    display: flex;
    flex-flow: column nowrap;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
}

.hero-section .left-col,
.hero-section .right-col {
    width: 100%;
}

.hero-section .right-col {
    margin: 0;
}


/*Hero left column section*/
.hero-section .left-col {
    margin-block-end: 2.875rem;
}

.hero-section .left-col h1 {
    font-size: var(--heading-L-font-size);
    line-height: var(--heading-L-line-height);
    font-weight: var(--extra-bold-font);
    color: var(--primary-color);
    margin-block-end: 1.625rem;
}

.hero-section .left-col p {
    font-size: var(--body-S-font-size);
    line-height: var(--body-S-line-height);
    font-weight: var(--medium-font);
    color: var(--primary-text-color);
    margin-block-end: 1.5rem;
}

.hero-section .left-col .hero-btn a {
    display: inline-block;
    padding: 0.9375rem 2.3125rem 0.9375rem 2.375rem;
    background: var(--primary-gradient-color);
    border-radius: var(--hero-button-border-radius);
    cursor: pointer;
    text-decoration: none;
    color: var(--white-color);
}

.hero-section .left-col .hero-btn a:hover {
    background: var(--primary-gradient-color-hover-state);
}

/*Hero right column section*/
.hero-section .right-col img {
    width: 100%;
    height: auto;
}

.hero-section .right-col img.desktop-view,
.hero-section .right-col img.tablet-view {
    display: none;
}

/*Feature section*/
.featured-courses {
    display: flex;
    flex-flow: column nowrap;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    background: var(--featured-section-background);
    padding-block-end: 5rem;
}


.featured-courses .course {
    position: relative;
    margin-block-end: 1rem;
    padding-block-start: 1.5rem;
    background-color: transparent;
}

.featured-courses .course .course-content {
    border-radius: var(--featured-course-border-radius);
    box-shadow: var(--featured-course-box-shadow);
    padding: 3.5rem 1.8125rem 2rem 1.75rem;
    background-color: var(--white-color);
}

.featured-courses .section-heading {
    background: var(--primary-gradient-color);
    border-radius: var(--featured-course-border-radius);
    color: var(--white-color);
}

.featured-courses .section-heading h2 {
    font-size: var(--featured-heading-font-size);
    line-height: var(--featured-heading-line-height);
    font-weight: var(--extra-bold-font);
    padding: 0 1.8125rem 2rem 1.75rem;
}


.featured-courses .course img {
    position: absolute;
    inset-inline-start: 28px;
    inset-block-start: 0;
}

.featured-courses .course h3 {
    font-size: var(--featured-heading-font-size);
    font-weight: var(--extra-bold-font);
    line-height: var(--featured-heading-line-height);
    color: var(--primary-color);
    margin-block-end: 1rem;
}

.featured-courses .course p {
    font-size: var(--body-S-font-size);
    line-height: var(--body-S-line-height);
    font-weight: var(--medium-font);
    color: var(--primary-text-color);
    margin-block-end: 1.5rem;
}

.featured-courses .course span a {
    font-size: var(--body-M-font-size);
    line-height: var(--body-M-line-height);
    font-weight: var(--bold-font);
    color: var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
}

.featured-courses .course span a:hover {
    color: var(--secondary-color-hover-state);
}

/*Footer section*/

footer {
    display: flex;
    justify-content: space-between;
    padding: 2.25rem 1rem;
    background-color: var(--primary-color);
}

.logo-footer {
    font-size: var(--logo-font-size);
    line-height: var(--logo-line-height);
    font-weight: var(--extra-bold-font);
    color: var(--white-color);
}

.footer-btn a {
    padding: 0.5625rem 1.5rem 0.6875rem 1.5rem;
    background: var(--secondary-gradient-color);
    color: var(--white-color);
    font-weight: var(--bold-font);
    font-size: var(--body-S-font-size);
    line-height: var(--body-S-line-height);
    border-radius: var(--header-button-border-radius);
    cursor: pointer;
    text-decoration: none;
}

.footer-btn a:hover {
    background: var(--secondary-gradient-color-hover-state);
}


/*Tablet view*/
@media only screen and (min-width: 768px) {

    /*Header section*/
    header {
        margin: 24px 5.2vw 6.1875rem 5.2vw;
    }

    /*Hero Section*/
    .hero-section {
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-inline-start: 5.2vw;
        margin-inline-end: 0;
        column-gap: 2.0819rem;
    }

    /*Hero left Section*/
    .hero-section .left-col {
        border: 1px solid red;
        flex-basis: 398px;
        flex-grow: 1;
        max-width: 457px;
    }

    /*Hero rigght Section*/
    .hero-section .right-col {
        border: 1px solid red;
        flex-basis: 297.69px;
        flex-grow: 1;
        max-width: 536px;
    }

    /*Hero right column section*/
    .hero-section .right-col img. {
        width: 100%;
        height: auto;
    }

    .hero-section .right-col img.tablet-view {
        display: block;
    }

    .hero-section .right-col img.desktop-view,
    .hero-section .right-col img.mobile-view {
        display: none;
    }



    /*Footer section*/
    footer {
        padding: 2.25rem 5.2vw;
    }
}

/*Desktop view*/
@media only screen and (min-width: 1024px) {

    /*Header section*/
    header {
        margin: 24px 10.4vw 10.75rem 10.4vw;
    }

    /*Heroo Section*/
    .hero-section {
        flex-flow: row nowrap;
        margin-inline-start: 10.4vw;
        margin-inline-end: 0;
    }

    /*Hero right column section*/
    .hero-section .right-col img. {
        width: 100%;
        height: auto;
    }

    .hero-section .right-col img.desktop-view {
        display: block;
    }

    .hero-section .right-col img.tablet-view,
    .hero-section .right-col img.mobile-view {
        display: none;
    }



    /*Footer section*/
    footer {
        padding: 2rem 10.4vw;
    }

}